# Built in Capabilities of Python - IV

In [24]:
v3=[7,11,19,23,53,75]

In [25]:
import bisect 
bisect.bisect(v3,17)

2

In [26]:
bisect.insort(v3,17)
v3

[7, 11, 17, 19, 23, 53, 75]

In [27]:
v3[1:5]

[11, 17, 19, 23]

In [28]:
v3[0:2]=[1,2,3]
v3

[1, 2, 3, 17, 19, 23, 53, 75]

In [29]:
v3[:5]

[1, 2, 3, 17, 19]

In [30]:
v3[6:]

[53, 75]

In [31]:
v3[-3:]

[23, 53, 75]

In [32]:
v3[-5:2]

[]

In [33]:
v3

[1, 2, 3, 17, 19, 23, 53, 75]

In [34]:
v3[::2]

[1, 3, 19, 53]

In [35]:
v3[::-1]

[75, 53, 23, 19, 17, 3, 2, 1]

In [36]:
tup6 =(1, 2, 3,4,5,6,7)
tup6

(1, 2, 3, 4, 5, 6, 7)

In [37]:
tup6[::-1]

(7, 6, 5, 4, 3, 2, 1)

In [38]:
for i, x in enumerate(v3):
    print(i,x)

0 1
1 2
2 3
3 17
4 19
5 23
6 53
7 75

In [39]:
seq = [7,2,6,4,3]
i = 0
for x in seq:
    x=x+1
    i = i+1
i

5

In [40]:
x = 0
for i,x in enumerate(seq):
    x = x+1
    print(x)
print(i)

8
3
7
5
4
4

In [41]:
x

4

In [42]:
list(enumerate(seq))

[(0, 7), (1, 2), (2, 6), (3, 4), (4, 3)]

In [43]:
v4 = [ 'Ohm','Namaha','Shivaya','Chanting']
mapping  = {}
for i,x in enumerate(v4):
    mapping[x]=i
mapping

{'Ohm': 0, 'Namaha': 1, 'Shivaya': 2, 'Chanting': 3}

In [44]:
sorted(v4)

['Chanting', 'Namaha', 'Ohm', 'Shivaya']

In [45]:
sorted(v3)

[1, 2, 3, 17, 19, 23, 53, 75]

In [46]:
seq1=['Om','Namaha']
seq2 = ['Shivay','Chanting']
list(zip(seq1,seq2))

[('Om', 'Shivay'), ('Namaha', 'Chanting')]

In [47]:
v = [1,2,3,4,5]
v[:]

[1, 2, 3, 4, 5]

In [48]:
v[:2]

[1, 2]

In [49]:
v[:-1]

[1, 2, 3, 4]

In [50]:
v.sort(reverse = True)
for x in range(len(v)):
    print(v[x])

5
4
3
2
1

In [52]:
seq3 = [True]
list(zip(seq1,seq2,seq3))

[('Om', 'Shivay', True)]

In [53]:
seq31 = ['Kala']
list(zip(seq1,seq2,seq31))

[('Om', 'Shivay', 'Kala')]

In [54]:
for i ,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:Om,Shivay
1:Namaha,Chanting

In [57]:
zseq = [('Om','Namaha'),('Kalabhirava','Shivaya')]
useq1,useq2 = zip(*zseq)

In [58]:
useq1

('Om', 'Kalabhirava')

In [59]:
useq2

('Namaha', 'Shivaya')

In [61]:
reversed (range(10))

In [62]:
list(reversed (range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [63]:
dict = {}

In [64]:
dict

{}

In [65]:
d = {}
d

{}

In [66]:
d1 = {'s':'om','i':[1,2,3]}
d1

{'s': 'om', 'i': [1, 2, 3]}

In [67]:
# Accessing dictionary elements 
d1['i']

[1, 2, 3]

In [68]:
d1['s']

'om'

In [80]:
# adding elements to dictionary
d1['f'] = [1.2,2.3,3.4]
d1

{'s': 'om', 'i': [1, 2, 3], 'f': [1.2, 2.3, 3.4]}

In [81]:
d1['dummy'] = 'xyz'
d1[9] = ' a value'
d1

{'s': 'om',
 'i': [1, 2, 3],
 'f': [1.2, 2.3, 3.4],
 'dummy': 'xyz',
 9: ' a value'}

In [82]:
# Modifying elements of a dict
d1[9]= 'the value'
d1

{'s': 'om',
 'i': [1, 2, 3],
 'f': [1.2, 2.3, 3.4],
 'dummy': 'xyz',
 9: 'the value'}

In [83]:
# Checking whether a dict contains a key 
# By using 'in' and 'not in' keywords 
'f' in d1

True

In [84]:
'i' not in d1

False

In [85]:
del d1[9]
d1

{'s': 'om', 'i': [1, 2, 3], 'f': [1.2, 2.3, 3.4], 'dummy': 'xyz'}

In [86]:
ret1 = d1.pop('dummy')
d1

{'s': 'om', 'i': [1, 2, 3], 'f': [1.2, 2.3, 3.4]}

In [87]:
ret1

'xyz'

In [89]:
d1[9]= 'the value'
d1

{'s': 'om', 'i': [1, 2, 3], 'f': [1.2, 2.3, 3.4], 9: 'the value'}

In [90]:
# keys and values methods
d1.keys()

dict_keys(['s', 'i', 'f', 9])

In [91]:
d1.values()

dict_values(['om', [1, 2, 3], [1.2, 2.3, 3.4], 'the value'])

In [93]:
list(d1.values())

['om', [1, 2, 3], [1.2, 2.3, 3.4], 'the value']

In [94]:
d2 = {'A':'a','B':'b'}

In [95]:
d1.update(d2)

In [96]:
d1

{'s': 'om',
 'i': [1, 2, 3],
 'f': [1.2, 2.3, 3.4],
 9: 'the value',
 'A': 'a',
 'B': 'b'}

In [97]:
d1.update({'C':"c"})
d1

{'s': 'om',
 'i': [1, 2, 3],
 'f': [1.2, 2.3, 3.4],
 9: 'the value',
 'A': 'a',
 'B': 'b',
 'C': 'c'}

In [98]:
d1

{'s': 'om',
 'i': [1, 2, 3],
 'f': [1.2, 2.3, 3.4],
 9: 'the value',
 'A': 'a',
 'B': 'b',
 'C': 'c'}

In [99]:
mapping2={}
for k,v in zip(d1.keys(),d1.values()):
    mapping2[k]=v
mapping2

{'s': 'om',
 'i': [1, 2, 3],
 'f': [1.2, 2.3, 3.4],
 9: 'the value',
 'A': 'a',
 'B': 'b',
 'C': 'c'}

In [128]:
x = zip(range(5),reversed(range(4)))

In [149]:
mapping3 = dict(zip(range(5),reversed(range(4))))

TypeError: 'tuple' object is not callable

In [131]:
list(x)

[(0, 3), (1, 2), (2, 1), (3, 0)]

In [132]:
d1.get('s')

'om'

In [137]:
d1.get('t')

In [142]:
d1.get('t','Key not Found')

'Key not Found'

In [143]:
d1.pop('t')

KeyError: 't'

In [145]:
d1.pop('t','Key not found')

'Key not found'

In [146]:
# set default
# useful to set values while geerating a dict
# Example: catgeorizing a list of terms by their first letters as a dict of Lists
terms =['alpha','beta','gamma','alpha2','beta2','beta3']
d3={}
for x in terms :
    d3.setdefault(x[0],[]).append(x)
d3

{'a': ['alpha', 'alpha2'], 'b': ['beta', 'beta2', 'beta3'], 'g': ['gamma']}

In [150]:
# default dict class from collections module
# can also be used to set values while generating a dict
from collections import defaultdict
first_letter = defaultdict(list)
for x in terms:
    first_letter[x[0]].append(x)
first_letter

defaultdict(list,
            {'a': ['alpha', 'alpha2'],
             'b': ['beta', 'beta2', 'beta3'],
             'g': ['gamma']})

In [151]:
# Dict keys should be a immutable objects
{0:3,1:2,2:3,[3]:0}

TypeError: unhashable type: 'list'

In [152]:
{0:3,1:2,2:3,(3):0}

{0: 3, 1: 2, 2: 3, 3: 0}

In [153]:
{0:3,1:2,2:3,([3]):0}

TypeError: unhashable type: 'list'

In [154]:
# TO check whwteher an object can be used as a dict key
# has function
hash('a')

7522197695440896824

In [155]:
hash(0)

0

In [156]:
hash(2)

2

In [157]:
hash((1,2,3))

2528502973977326415

In [160]:
hash((1,[2,3]))

TypeError: unhashable type: 'list'

In [161]:
## Sets 
# Similar to dicts with keys without values 
# An unordered collection of unique elements
# Created with a comma seperated unique elemenst with curly braces
set1 = {1,2,3}
set1

{1, 2, 3}

In [162]:
{2,2,3,3,3}

{2, 3}

In [163]:
set2 = set([4,5,5,6])
set2

{4, 5, 6}

In [164]:
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6}

In [166]:
# Union of sets
set1|set2

{1, 2, 3, 4, 5, 6}

In [174]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [168]:
set1|set2|set3

{1, 2, 3, 4, 5, 6}

In [167]:
set1 or set2

{1, 2, 3}

In [170]:
# Intersection 
set4 = set1.intersection(set3)
set4

{1, 2, 3}

In [188]:
set4 = set1&set3
set4

{3}

In [189]:
set2&set3

{4}

In [190]:
set3 = {3,4}

In [191]:
set1&set2&set3

set()

In [192]:
set4.update(set1)
set4

{1, 2, 3}

In [193]:
set4 |= {7,8,9}
set4

{1, 2, 3, 7, 8, 9}

In [194]:
# set operation : adding elemenst 
# use add method 
set4.add(10)

In [195]:
set4

{1, 2, 3, 7, 8, 9, 10}

In [196]:
# remove element 
set4.remove(10)

In [197]:
set4

{1, 2, 3, 7, 8, 9}

In [198]:
# remove arbitrary method 
set4.pop()

1

In [200]:
set4

{2, 3, 7, 8, 9}

In [201]:
set4.pop()

2

In [202]:
set4

{3, 7, 8, 9}

In [203]:
set4.clear()

In [204]:
set4

set()

In [205]:
set4.pop()

KeyError: 'pop from an empty set'

In [211]:
set1= {1,2,3,4,5}
set2 = {4,5,6}
set3 = {1,2,3}
set4 = {10,20}

In [212]:
# Subset operations 
set1.issubset(set3)

False

In [213]:
set1.issuperset(set3)

True

In [214]:
set1.isdisjoint(set3)

False

In [215]:
set1.isdisjoint(set2)

False

In [218]:
set1.isdisjoint(set4)

True

In [219]:
{1,2,3} == {3,2,1}

True

In [220]:
{1,2,3} == {(3),2,1}

True

In [ ]:
{}

In [227]:
## List Comprehension 
seq4 =['Om','Namah','Shivay','Chanting']
seq4

['Om', 'Namah', 'Shivay', 'Chanting']

In [228]:
[x.upper() for x in seq4]

['OM', 'NAMAH', 'SHIVAY', 'CHANTING']

In [229]:
[x.upper() for x in seq4 if len(x) >2]

['NAMAH', 'SHIVAY', 'CHANTING']

In [230]:
# Dict Comprehnesions
# basic form { Key -expr: value expr for value in collection if condition}
{v: i for i,v in enumerate(seq4)}

{'Om': 0, 'Namah': 1, 'Shivay': 2, 'Chanting': 3}

In [231]:
# Set Comprehensions
{len(x) for x in seq4}

{2, 5, 6, 8}

In [232]:
# NEsted list comprehensions
# order of the for expressions is same as nested for loop
# Example : Extract the list of strings with two or more a's from a lists of strings 
# Example :Extract the list of strings with two or more a's from a lists of strings 
seq5 = [['Om','Namah','Shivay'],['Shiv','Shambhoo']]
[x for l in seq5 for x in l if x.count('a')>=2]

['Namah']

In [234]:
# Example : Convert a list of tuples of integers into a list of integers
seq6 = [(1,2,3),(4,5,6),(7,8,9)]
[x for t in seq6 for x in t if x> 3 and x <8]

[4, 5, 6, 7]

In [235]:
# List Comprehension inside a list comprehesnion 
# different from nested List Comprehensions
# Notice the system differences
# Example : Convert a List of tuples of integers into a lists of integers
[[x for x in t] for t in seq6]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [236]:
## Functions 
# Are another type of python Objects 
#  Aprimary and most important mechanisms of code organisation and reuse 
# in programming languages 
# Declared with 'def' keyword and typically might have mrore than one dead end 
# statements with 
# Might have positional arguments
# Keyword arguments must follwo the positionsl arguments if any
def f(x,y,z =0.5):
    if z>1:
        return z*(x+y)
    else :
        return z/(x+y)

In [237]:
f(1,2,z=0.3)

0.09999999999999999

In [238]:
f(3,4.5,1.3)

9.75

In [240]:
f(4.3, 6)

0.04854368932038835

In [241]:
# Namespace , Scope and Local Functions 
v5 =[] # Global Scope 
def f1():
    for i in range(5):
        v5.append(i)

In [242]:
def1()

In [243]:
v5

[0, 1, 2, 3, 4]

In [244]:
del v5

In [246]:
def f2():
    v5=[]  # Local Scope
    for i in range(5):
        v5.append(i)

In [247]:
f2()

In [248]:
v5

NameError: name 'v5' is not defined

In [249]:
def f3():
    global v5
    v5 = []
    for i in range(5):
        v5.append(i)

In [250]:
f3()

In [251]:
v5

[0, 1, 2, 3, 4]

In [252]:
# Returning Multiple Values 
def f4():
    a =5
    b=6
    c=7
    return a,b,c
a,b,c = f4()

In [253]:
a,b,c

(5, 6, 7)

In [254]:
a

5

In [255]:
b

6

In [256]:
c

7

In [257]:
v6 =f4()

In [258]:
v6

(5, 6, 7)

In [261]:
# returning a dictionary 
def f4():
    a = 5
    b = 6
    c = 7
    return {'a': a, 'b': b,'c': c}

v7 = f4()

In [262]:
v7

{'a': 5, 'b': 6, 'c': 7}

In [263]:
type(f4)

function

In [265]:
# More Reusable and Generic Functions 
# Example : Data Cleaning on a list of strings ,eg: stripping whitespace
# removing punctuation symbols 
# on proper capitalization 
#First apporach 
# Using built in string methods along with the 're' standard library module for regular expression

messy_strings = ['  Alabama  ','Georgia!','Georgia','georgia','FlOrIda','south Carolina##','West Indies ']
import re
def clean_strings(strings):
    result =[]
    for x in strings:
        x = x.strip() # Reomove all white spaces 
        x = re.sub('[!#?]','',x)  # substitute punctuations with null 
        x = x.title()  # Coverting the strings to Title Case
        result.append(x) # append the modeified string to result   
    return result

In [266]:
messy_strings

['  Alabama  ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south Carolina##',
 'West Indies ']

In [267]:
clean_strings(messy_strings)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Indies']

In [268]:
# Second Approach
# Applying a list of the operations on a list of strings 
def remove_punctuation(value):
    return re.sub('[!#?]','',value)
# list of function based operation to be applied : Both user defined and built in 
clean_ops = [str.strip,remove_punctuation , str.title]

def clean_strings(strings,ops):
    result = []
    for x in strings:
        for f in ops:
            x = f(x)
        result.append(x)
    return result

In [269]:
messy_strings

['  Alabama  ',
 'Georgia!',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south Carolina##',
 'West Indies ']

In [271]:
clean_strings(messy_strings,clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Indies']

# Python Dictionar Class Methods

In [272]:
d = {1: "one", 2: "two"}

d.clear()
print('d =', d)

d = {}

In [273]:
original = {1:'one', 2:'two'}
new = original.copy()

print('Orignal: ', original)
print('New: ', new)

Orignal:  {1: 'one', 2: 'two'}
New:  {1: 'one', 2: 'two'}

In [281]:
seq = ('name', 'age', 'sex')
dict = dict.fromkeys(seq)
print(dict)

AttributeError: 'tuple' object has no attribute 'fromkeys'

In [277]:
Dict = {1:2, 3:4, 4:11, 5:6, 7:8} 
print(Dict[Dict[3]])

11

In [279]:
person = {'name': 'Phill', 'age': 22}

print('Name: ', person.get('name'))
print('Age: ', person.get('age'))

# value is not provided
print('Salary: ', person.get('salary'))

# value is provided
print('Salary: ', person.get('salary', 0.0))

Name:  Phill
Age:  22
Salary:  None
Salary:  0.0

In [282]:
# random sales dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

print(sales.items())

dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])

In [283]:
person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}
print(person.keys())

empty_dict = {}
print(empty_dict.keys())

dict_keys(['name', 'age', 'salary'])
dict_keys([])

In [284]:
person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}

result = person.popitem()
print('person = ',person)
print('Return Value = ',result)

person =  {'name': 'Phill', 'age': 22}
Return Value =  ('salary', 3500.0)

In [285]:
person = {'name': 'Phill', 'age': 22}

age = person.setdefault('age')
print('person = ',person)
print('Age = ',age)

person =  {'name': 'Phill', 'age': 22}
Age =  22

In [286]:
# random sales dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

element = sales.pop('apple')
print('The popped element is:', element)
print('The dictionary is:', sales)

The popped element is: 2
The dictionary is: {'orange': 3, 'grapes': 4}

In [287]:
# random sales dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

print(sales.values())

dict_values([2, 3, 4])

In [288]:
d = {1: "one", 2: "three"}
d1 = {2: "two"}

# updates the value of key 2
d.update(d1)
print(d)

d1 = {3: "three"}

# adds element with key 3
d.update(d1)
print(d)

{1: 'one', 2: 'two'}
{1: 'one', 2: 'two', 3: 'three'}

In [289]:
person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}
print(person.keys())

empty_dict = {}
print(empty_dict.keys())

dict_keys(['name', 'age', 'salary'])
dict_keys([])

In [291]:
# vowels keys
keys = {'a', 'e', 'i', 'o', 'u' }
value = [1]
newdict ={}
vowels = newdict.fromkeys(keys, value)
print(vowels)

# updating the value
value.append(2)
print(vowels)

{'e': [1], 'u': [1], 'o': [1], 'i': [1], 'a': [1]}
{'e': [1, 2], 'u': [1, 2], 'o': [1, 2], 'i': [1, 2], 'a': [1, 2]}

In [304]:
Dict = {'Rno' : '123' , 'Name' : 'Ajay' , 'Course' = 'B.tech.'}
print(Dict.get('Name'))

SyntaxError: invalid syntax (<ipython-input-304-9eb91ed78ad0>, line 1)

In [305]:
Dict = {'Rno' : '123' , 'Name' : 'Ajay' , 'Course' : 'B.tech.'}
print(Dict.get('Name'))

Ajay

In [295]:
set1={1,2,3}  
set2={4,5,6}
set3 = set1.union(set2)

In [296]:
set3

{1, 2, 3, 4, 5, 6}

In [298]:
seq4 = ['om', 'hari', 'ram', 'shyam']
[x.upper() for x in seq4]

['OM', 'HARI', 'RAM', 'SHYAM']

In [299]:
def func(i):
    print("Hello world",i)

In [300]:
func(5,5)

TypeError: func() takes 1 positional argument but 2 were given

In [301]:
def fun1(a,b):
    return(a+b)

In [303]:
print(fun1(2))

TypeError: fun1() missing 1 required positional argument: 'b'